@import '../../colors.scss';

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  padding: 0 20px;

  z-index: 4;

  &__logo {
    height: 24px;
  }

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 20px;

    list-style: none;

    .link {
      text-decoration: none;
      color: #ffffff9b;
      font-size: 10px;
      font-weight: 400;
      text-transform: uppercase;
      position: relative;
    }

    .active {
      color: $primary-color;
    }

    .link.active:after {
      width: 100%;
    }
    
    .link::after {
      content: "";
      display: block;
      height: 1px;
      width: 100%;
      background-color: #ffffffb1;
      
      position: absolute;
      width: 0%;
      transition: all ease-in-out 200ms;
    }
    
    .link:hover::after {
      width: 100%;
    }
  }
}