body {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  margin: 0;
  padding: 0;

  background: url('../img/background.png'), rgba(0, 0, 0, 0.80);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.page-footer {
  margin-top: auto;
}