@import 'colors.scss';

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;

  margin: 0;
  padding: 0;
  color: $primary-color;
  font-family: Satoshi;
  letter-spacing: 0.08rem;

  background: url('../img/background.png'), rgba(0, 0, 0, 0.80);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: auto auto, cover;
  background-position: center;
}

* {
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.home {
  flex-grow: 1;
}

